#banner{
	border-top:4px solid $border-color;
	width:800px;
}
#bannerText{
	position:relative;
	top:-16px;
	font-size: 18px;
	font-weight: bold;
}
#header{	
	height: 200px;
	margin-left: 20px;
	display: inline;
	
}
#headerimage{
	margin-top:8px;
}
#upperContact{
	font-weight: bold;
	font-size: 14px;
	position: relative;
	top:-30px;
	left:+125px;
}