#copyright{
	font-size:small;	
}
#footer{
	border-top:4px solid $border-color;
	clear:both;	
	height:100px;
	text-align:center;
}
#footerImg{

	text-align: center;
}
#mediaBar{
	position:relative;
	top:3px;
	width:135px;
}