/*Bronco Theme*/
$primary-color: #ff9900;
$secondary-color: #fffbd0;
$border-color: #003366;
/* heights for left panel and content divs */
$index-page-height: 720px;
$services-page-height: 1290px;
$contact-page-height: 1045px;
$faq-page-height: 1160px;